.listing {
  @include box-flex(column, normal, normal);
  margin: 20px 10px 0;

  @include for-desktop {
    @include box-flex(row, space-between, normal);
    margin: 20px;
  }

  &__list-box {
    height: min-content;
    margin-bottom: 20px;
    background-color: $white-color;
    border-radius: 5px;
    border: 1px solid $gray-medium-color;

    @include for-desktop {
      flex-basis: 48%;
    }
  }

  &__title {
    position: relative;
    padding: 5px 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $gray-medium-color;
  }

  &__list {
    min-height: 50px;
    margin: 5px;
  }

  &__item {
    display: flex;
    position: relative;
    min-height: 30px;
    margin: 10px 0;
    padding: 3px 5px;
    border: 1px solid $gray-medium-color;
    border-radius: 4px;
    font-size: 1.6rem;
    cursor: move;

    &--dragging {
      background-color: $gray-medium-color;
    }
  }

  &__item-checkbox {
    position: absolute;
    top: 8px;
    left: 5px;
    height: 15px;
    width: 15px;
    color: $darkgreen-color;
    cursor: pointer;

    &:checked:before {
      content: 'L';
      position: absolute;
      top: -4px;
      left: -1px;
      height: 15px;
      width: 15px;
      font-weight: bold;
      font-size: 15px;
      transform: scale(-1, 1) rotate(-45deg);
    }

    &:after {
      content: '';
      display: block;
      height: 15px;
      width: 15px;
      background-color: white;
      border: 1px solid $gray-dark-color;
    }
  }

  &__item-name {
    flex-grow: 1;
    padding: 0 10px 0 20px;
    font-size: 1.6rem;
    line-height: 25px;
    cursor: move;
  }
}
