@mixin box-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin for-desktop {
  @media (min-width: 768px) {
    @content;
  }
}
